#contentViewWrapper {
  margin: 3% auto;
  width: 65%;
  max-height: 75%;
  border: 1px solid black;
  overflow-y: hidden;
}
#backIcon {
  width: 5%;
  height: 5%;
  margin: 1% 0 1% 0;
}
#contentWrapper {
  padding: 2%;
  max-height: 90%;
}
#UDButtonArea {
  z-index: 100;
  min-width: 70px;
  min-height: 90px;
  max-width: 30%;
  float: right;
  display: flex;
  flex-direction: column;
}
#UDBtn {
  margin-left: 80%;
  background: url('../assets/images/ellipsis-vertical-solid.svg') no-repeat;
  width: 80%;
  height: 3vh;
  border: none;
}
.hidden {
  display: none;
}

#contentMenu {
  flex-direction: column;
  margin-right: 20%;
  margin-top: 5%;
  border-radius: 15%;
  box-shadow: rgba(128, 128, 128, 0.576) 2px 2px 2px 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
#updateBtn {
  z-index: 150;
  background-color: transparent;
  padding: 15% 0 10% 0;
  font-size: large;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba(128, 128, 128, 0.153);
}
#deleteBtn {
  color: red;
  z-index: 150;
  background-color: transparent;
  padding: 15% 0 10% 0;
  font-size: large;
  border: none;
}
#profile {
  background: url('../assets/images/user-regular.svg') no-repeat;
  background-size: 20px;
  background-position: center;
  border-radius: 2px;
  display: inline-block;
  margin-top: 0.5%;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
#profileInfoArea {
  display: flex;
}
#contentInfoArea {
  margin-left: 1%;
}
#titleArea {
  margin: 2% 0 0 20px;
  width: 80%;
}
#contentsArea {
  margin: 1% 0 0 20px;
  width: 80%;
}
#writeReply {
  width: 100%;
  text-align: center;
}
#replyInput {
  width: 80%;
  margin: 1%;
  padding: 1%;
}
#replySubmit {
  width: 10%;
  margin: 1%;
  padding: 1%;
}
#replyArea {
  height: 70%;
  margin-top: 3%;
  overflow: hidden;
}
#relpyList {
  width: 95%;
  margin: 0 auto;
  max-height: 300px;
  overflow-y: scroll;
}
#replyUserTime {
  margin: 1% 0 0 2%;
  font-size: small;
}
#replyContents {
  color: black;
  margin: 1% 0 0 2%;
}
#replyOL {
  padding: 0;
  margin-bottom: 90px;
}
