.navbar {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  background-color: white;
  padding: 15px 0px;
  line-height: 30px;
}
.navMenu {
  color: black;
  margin-left: 20px;
  font-size: large;
  text-decoration: none;
}
.active {
  color: rgb(255, 116, 139);
  font-weight: bold;
}
#my {
  float: right;
  margin-right: 20px;
  padding-bottom: 10px;
}
