#wrapper {
  background-color: white;
  height: 100px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  margin-left: 2%;
  padding: 2% 0 2% 5%;
  background: url('../assets/images/logo.svg') no-repeat;
  background-size: 50px;
  background-position: left 10px;
}
.navMenu {
  color: black;
  padding-left: 40px;
  font-size: xx-large;
  line-height: 60px;
  text-decoration: none;
}
.active {
  color: #ff7f00;
  font-weight: bold;
}
#my {
  float: right;
  margin-right: 10%;
  padding-bottom: 10px;
}
#loginBtn {
  background: url('../assets/images/kakao_login_large.png') no-repeat;
  background-size: 100px;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  border: none;
}
#myBtn {
  width: 80px;
  height: 50px;
  vertical-align: middle;
  font-size: large;
  background-color: transparent;
  border: none;
}
.hidden {
  display: none;
}
#editNick {
  background: url('../assets/images/xmark-solid.svg') no-repeat;
  background-size: 20px;
}
